*.parquet
*.csv
*.json
*.xlsx


.env
outputs.json
infra/.terraform/*
infra/.terraform.lock.hcl
infra/wallet/
infra/.terraform/wallet/
infra/.terraform/wallet/*
infra/.terraform/adw_wallet.zip
infra/terraform.tfvars
infra/terraform.tfstate*
infra/outputs.json


logs/
*.log
*.tmp
*.bak
*.swp
*.pid


airflow.db
airflow.cfg
unittests.cfg
webserver_config.py
/opt/airflow/logs/
__pycache__/
*.pyc


*.pid
*.sock


.vscode/
.history/


.DS_Store
Thumbs.db


.venv/
venv/
.env/
pip-log.txt


data/

outputs.json